# Ignore EVERYTHING by default
**

# Except these:
!backend/
!regis-frontend/
!docker-compose.yml

# Common folders to ignore
.vscode/
.env
.git/
.gitignore
__pycache__/
*.pyc
node_modules/
dist/
build/
.DS_Store
