
fastapi==0.110.0
uvicorn[standard]==0.29.0

pgvector==0.2.4
# Database
SQLAlchemy==2.0.28
psycopg2-binary==2.9.9
pgvector==0.2.4

# Pydantic
pydantic==2.6.4
pydantic-settings==2.2.1

# XML parsing
lxml==5.2.1

# OpenAI API
openai==1.14.2

# Utilities
python-dotenv==1.0.1
